<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Short URL Generator</h2>
    <form action="/url" method = "POST">
        <input type="text" name="actualUrl" placeholder="Enter URL here" required />
        <button type="submit">Generate Short URL</button>
    </FORm>
</body>
</html>